*.exe
*.lib
*.obj
*.dll
ipch/
*/ipch/
*.pdb
*.tlog
*.manifest
*.lastbuildstate
*.unsuccessfulbuild
*.cache
*.log

Debug/
*/Debug/
Release
*/Release/

*.sdf
*.opensdf
*.suo
*.vcxproj.user

thumbs.db
desktop.ini
